<div class="card">
  <div class="card-body">

    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
         [(ngModel)]="settings.renderPosition.position">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="0"> Front
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="1"> Top
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="2"> Right
      </label>
    </div>

    <div class="mt-2">
      <label>
        <input type="number" class="form-control" [(ngModel)]="settings.angles.angleX"/>
      </label>
      <label>
        <input type="number" class="form-control" [(ngModel)]="settings.angles.angleY"/>
      </label>
      <label>
        <input type="number" class="form-control" [(ngModel)]="settings.angles.angleZ"/>
      </label>
    </div>
    <hr>
    <div class="container" style="max-width: 600px">
      <div class="row">
        <div class="col-sm">
          <div class="card bg-light" style="max-width: 10rem;">
            <div class="card-header">Rotate X</div>
            <div class="card-body">
              <button type="button" class="btn btn-primary m-2" (click)="move(0,1)">↑</button>
              <button type="button" class="btn btn-primary m-2" (click)="move(0,-1)">↓</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card bg-light" style="max-width: 10rem;">
            <div class="card-header">Rotate Y</div>
            <div class="card-body">
              <button type="button" class="btn btn-primary m-2" (click)="move(1,1)">↑</button>
              <button type="button" class="btn btn-primary m-2" (click)="move(1,-1)">↓</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card bg-light" style="max-width: 10rem;">
            <div class="card-header">Rotate Z</div>
            <div class="card-body">
              <button type="button" class="btn btn-primary m-2" (click)="move(2,1)">↑</button>
              <button type="button" class="btn btn-primary m-2" (click)="move(2,-1)">↓</button>
            </div>
          </div>
        </div>
      </div>


    </div>
    <hr>
    <button type="button" class="btn btn-primary" (click)="execute()">Render!</button>

    <ngb-alert [type]="'secondary'" class="mt-2" [dismissible]="false">
      <strong>Output:</strong> {{output}}
    </ngb-alert>
  </div>
</div>
